.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
chip{
  margin: 4,
},
wrapper{
  display: 'flex',
  flexWrap: 'wrap',
}
.padding-top{
  margin-top: 20px;
  padding-top: 50px;
}
